.box1 {
    width: 100%;
    background: white;
    /* position: fixed; */
    /* top: 0; */
    z-index: 2;
    box-shadow: 0 0 4px #474747
}

.box1 .header {
    position: relative;
    width: 1336px;
    height: 55px;
    margin: 0 auto
}

.box1 .header .head_left {
    width: 204px;
    height: 55px;
    float: left
}

.box1 .header .head_left a {
    color: black;
    width: 180px;
    height: 50px;
    font-weight: 1000;
    font-size: 45px;
    float: right;
    padding-bottom: 6px;
    /* margin-top: 17px; */
    text-align: center;
    margin-right: 80px
}
.box1 .header .head_left a :hover{
    color: skyblue;
}

.box1 .header .head_cen {
    width: 908px;
    height: 55px;
    float: left
}

.box1 .header .head_cen ul {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.box1 .header .head_cen ul .list1 .head1 {
    width: 1920px;
    height: 370px;
    background: white;
    position: absolute;
    top: 55px;
    left: -292px;
    display: none;
    padding-top: 30px;
    box-shadow: 0 2px 5px #c7c7c7;
    margin: 0 auto
}

.box1 .header .head_cen ul .list1 .head1 .head1_left {
    width: 486px;
    height: 400px;
    float: left
}

.box1 .header .head_cen ul .list1 .head1 .head1_left ul {
    float: right;
    width: 131px;
    height: 400px;
    display: block
}

.box1 .header .head_cen ul .list1 .head1 .head1_left ul span {
    font-size: 11px;
    float: right;
    display: none
}

.box1 .header .head_cen ul .list1 .head1 .head1_left ul .active {
    display: inline-block
}

.box1 .header .head_cen ul .list1 .head1 .head1_left ul li {
    font-size: 14px;
    width: 91px;
    display: inline-block;
    margin-top: 10px
}

.box1 .header .head_cen ul .list1 .head1 .head1_left ul li:hover {
    color: black;
    font-weight: 900
}

.box1 .header .head_cen ul .list1 .head1 .head1_right {
    width: 1420px;
    height: 370px;
    float: right
}

.box1 .header .head_cen ul .list1 .head1 .head1_right div {
    width: 940px;
    height: 370px;
    position: absolute;
    display: none
}

.box1 .header .head_cen ul .list1 .head1 .head1_right .active {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start
}

.box1 .header .head_cen ul .list1 .head1 .head1_right .active dl {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 15px
}

.box1 .header .head_cen ul .list1 .head1 .head1_right .active dl dd {
    margin-left: 30px
}

.box1 .header .head_cen ul .list1 .head1 .head1_right .active dl dd h5 {
    color: #5EC5D7
}

.box1 .header .head_cen ul .list1 .head1 .head1_right .active dl dd span {
    font-weight: 900;
    color: #dd0b25
}

.box1 .header .head_cen ul .list1 .head1 .head1_right img {
    width: 72px
}

.box1 .header .head_cen ul .list2 .head2 {
    width: 1920px;
    height: 370px;
    background: white;
    position: absolute;
    top: 55px;
    left: -292px;
    display: none;
    padding-top: 30px;
    box-shadow: 0 2px 5px #c7c7c7;
    margin: 0 auto
}

.box1 .header .head_cen ul .list2 .head2 .head2_left {
    width: 486px;
    height: 400px;
    float: left
}

.box1 .header .head_cen ul .list2 .head2 .head2_left ul {
    float: right;
    width: 131px;
    height: 400px;
    display: block
}

.box1 .header .head_cen ul .list2 .head2 .head2_left ul span {
    font-size: 11px;
    float: right;
    display: none
}

.box1 .header .head_cen ul .list2 .head2 .head2_left ul .active {
    display: inline-block
}

.box1 .header .head_cen ul .list2 .head2 .head2_left ul li {
    font-size: 14px;
    width: 91px;
    display: inline-block;
    margin-top: 10px
}

.box1 .header .head_cen ul .list2 .head2 .head2_left ul li:hover {
    color: black;
    font-weight: 900
}

.box1 .header .head_cen ul .list2 .head2 .head2_right {
    width: 1420px;
    height: 370px;
    float: right
}

.box1 .header .head_cen ul .list2 .head2 .head2_right div {
    width: 940px;
    height: 370px;
    position: absolute;
    display: none
}

.box1 .header .head_cen ul .list2 .head2 .head2_right .active {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start
}

.box1 .header .head_cen ul .list2 .head2 .head2_right .active dl {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 15px
}

.box1 .header .head_cen ul .list2 .head2 .head2_right .active dl dd {
    margin-left: 30px
}

.box1 .header .head_cen ul .list2 .head2 .head2_right .active dl dd h5 {
    color: #5EC5D7
}

.box1 .header .head_cen ul .list2 .head2 .head2_right .active dl dd span {
    font-weight: 900;
    color: #dd0b25
}

.box1 .header .head_cen ul .list2 .head2 .head2_right img {
    width: 72px
}

.box1 .header .head_cen ul li a {
    font-size: 14px;
    color: black
}

.box1 .header .head_cen ul li a:hover {
    color: #FFCA1D
}

.box1 .header .head_right {
    width: 180.5px;
    height: 55px;
    float: left;
    text-align: center
}

.box1 .header .head_right .ppp {
    display: inline-block
}

.box1 .header .head_right i {
    font-weight: 900;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px
}

.box1 .header .head_right ul {
    width: 110px;
    height: 250px;
    background: white;
    box-shadow: 0 0 5px #e2e2e2;
    display: none;
    z-index: 0
}

.box1 .header .head_right ul li {
    text-align: left;
    overflow: hidden
}

.box1 .header .head_right ul li p {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #0D0D0D
}

.box1 .header .head_right ul li p:hover {
    color: #ffc915
}

.footer {
    width: 1920px;
    height: 560px;
    background: white;
    margin: 0 auto
}

.footer .foot1 {
    width: 1920px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 30px
}

.footer .foot1 .foot1_dl {
    width: 1206px;
    height: 100px;
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center
}

.footer .foot1 .foot1_dl dt {
    font-size: 35px
}

.footer .foot1 .foot1_dl dd {
    margin-top: 10px;
    color: #6A6A6A
}

.footer .foot2 {
    width: 1206px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 20px
}

.footer .foot2 .foot2_left {
    text-align: left;
    float: left
}

.footer .foot2 .foot2_left table tr th {
    padding: 10px;
    padding-right: 130px;
    font-size: 15px
}

.footer .foot2 .foot2_left table tr td {
    padding: 10px
}

.footer .foot2 .foot2_left table tr td:hover {
    color: #ffc915
}

.footer .foot2 .foot2_right {
    width: 300px;
    height: 280px;
    float: right;
    text-align: center;
    padding-top: 20px
}

.footer .foot2 .foot2_right h1 {
    font-weight: 900
}

.footer .foot2 .foot2_right h5 {
    color: #6A6A6A;
    margin-top: 5px
}

.footer .foot2 .foot2_right button {
    margin-top: 20px;
    width: 186px;
    height: 43px;
    background: transparent;
    border: 1px solid black
}

.footer .foot2 .foot2_right button:hover {
    background: black;
    color: white
}

.footer .foot2 .foot2_right button i {
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px
}

.footer .foot2 .foot2_right p {
    color: #6A6A6A;
    margin-top: 5px
}

.footer .foot2 .foot2_right .logo {
    height: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    align-items: center
}

.footer .foot2 .foot2_right .logo i:nth-child(1) {
    margin-left: 50px;
    font-size: 30px
}

.footer .foot2 .foot2_right .logo i:nth-child(2) {
    margin-right: 50px;
    font-size: 30px
}

.footer .foot3 {
    width: 1206px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid #D8DEE5
}

.footer .foot3 p {
    width: 250px;
    height: 30px;
    text-align: left
}

.footer .foot3 p:hover {
    font-weight: 900
}

.footer .foot4 {
    width: 1206px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #6A6A6A
}

.footer .foot4 .foot4_left {
    float: left
}

.footer .foot4 .foot4_left i {
    color: #16156F
}

.footer .foot4 .foot4_right {
    float: right
}

.footer .foot4 .foot4_right ul li {
    height: 20px;
    float: left
}

.footer .foot4 .foot4_right ul li span {
    margin-left: 10px;
    margin-right: 10px
}